*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}

.modalContent{
    background-color: #EEE5DE !important;
}

#slides {
    position: relative;
    height: 300px;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.slide {
    font-size: 40px;
    padding: 40px;
    box-sizing: border-box;
    background: #333;
    color: #fff;
}

.slide:nth-of-type(1) {
    background: red;
}
.slide:nth-of-type(2) {
    background: orange;
}
.slide:nth-of-type(3) {
    background: green;
}
.slide:nth-of-type(4) {
    background: blue;
}
.slide:nth-of-type(5) {
    background: purple;
}

.showing {
    opacity: 1;
    z-index: 2;
}


html, body {
    width: fit-content;
    min-width: 100%; /* because the content might only be a few words */
    box-sizing: border-box; /* because 100% + padding > 100% */
    height: 100%;
    }

body{
    overflow-x: hidden;
    max-width: 100%;
}

.loader-body {
	width: 100%;
	height: 100vh;
	background-color: #EEE5DE; /*Here you can change background color of the loader */
	position: fixed;
	z-index: 2;
	visibility: visible;
	top: 0;
	left: 0;
	text-align: center;
	justify-content: center;
	align-content: center;
	transition: 1s all;
}
.loader {
	width: 942px;
	height:81px;
	position: absolute;
	background-image: url('./images/black-logo.png');			/*Here you can change color of the loader*/
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;


}

.loader-body.done {
	visibility: hidden;
	opacity: 0;
}

html.sr .load-hidden {
    visibility: hidden;
}

section#button a{
    font-family: 'modumbold';
}

.container {
    position: relative;
    width: 100vw;
    overflow: hidden;
  }

  section#blurb p{
      text-align: center;
    font-family: 'modumbold';
    width: 49%;
    margin: auto;
    font-size: 1.7rem;
    padding: 4rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  section#blurb .blurb-box{
      height: 100vh;
  }
  
  .scrolling-text {
    display: inline-block;
    transition: transform 0.5s cubic-bezier(0.23, 0.36, 0.28, 0.83);
    -ms-transform: transform 0.5s cubic-bezier(0.23, 0.36, 0.28, 0.83);
    -webkit-transform: transform 0.5s cubic-bezier(0.23, 0.36, 0.28, 0.83);
    will-change: transform;
    backface-visibility: hidden;
  }
  
  .scrolling-text .scrolling-text-content {
    color: #fff;
    font-size: 86px;
    white-space: nowrap;
    transition: transform 0.5s cubic-bezier(0.23, 0.36, 0.28, 0.83);
    -ms-transform: transform 0.5s cubic-bezier(0.23, 0.36, 0.28, 0.83);
    -webkit-transform: transform 0.5s cubic-bezier(0.23, 0.36, 0.28, 0.83);
    line-height: 1em;
    
  }

  .container1 {
    position: relative;
    width: 100vw;
    overflow: hidden;
  }
  
  .scrolling-text1 {
    display: inline-block;
    transition: transform 0.5s cubic-bezier(0.23, 0.36, 0.28, 0.83);
    -ms-transform: transform 0.5s cubic-bezier(0.23, 0.36, 0.28, 0.83);
    -webkit-transform: transform 0.5s cubic-bezier(0.23, 0.36, 0.28, 0.83);
    will-change: transform;
    backface-visibility: hidden;
  }
  
  .scrolling-text1 .scrolling-text-content1 {
    color: #fff;
    font-size: 86px;
    white-space: nowrap;
    transition: transform 0.5s cubic-bezier(0.23, 0.36, 0.28, 0.83);
    -ms-transform: transform 0.5s cubic-bezier(0.23, 0.36, 0.28, 0.83);
    -webkit-transform: transform 0.5s cubic-bezier(0.23, 0.36, 0.28, 0.83);
    line-height: 1em;
    
  }
  

/* Backgrounds */

section, body{background: #EEE5DE;}

.preloader{
    height: 100vh;
    display: grid;
    place-items: center;
    width: 100%;

}

.hidden{
    display: none;
}

.loader{
    animation: fadeOut 3s;
}

.secondLogo{
    position: absolute;
   
}


.changeBlack{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.preloader img{
    width: 50%;
}

footer .links img, svg{
    fill: white;
    margin: 10px;
   
}



textarea{
    width: 545px;
    height: 90px;
}

.foot{
    display: flex;
}

footer .links{
    margin-right: 2rem;
    display: flex;
    align-items: center;

}
/* Navigation */

header{
    position: sticky;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    top: 0;
    background-color: #EEE5DE;
}

.bold-link{
    font-family: 'bw_modelicabold';
}

header img{
    width: 346px;
}

header img.dark-logo{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

nav{
    color: black;
}

section#scrolling{
    margin-top: 6rem;
    font-family: 'modumlight';
  }

  #magazine img{
      width: 60%;
  }

/* Semantic Styles */

body{overflow-x: hidden; 

    height: 100%;}

main{
    display: grid;
    width: 100%;
    background-color: white;
    perspective: 20px;
}

.section { 
    
    height: 100vh;
    display: grid;
    background-color: #EEE5DE;
}

/* Helper Classes */
.responsive {
    max-width: 100%;
    height: auto;
    background-size: contain;
  }

  .talk a{
      font-family: 'bw_modelicabold';
      font-size: inherit;
      text-decoration: underline;
  }

  figcaption{
    position: relative;
    background-color: black;
    color: white;
    padding: 1rem;
    font-family: 'modum';
    text-align: center;
    font-size: 14px;
    margin-top: -4px;
}


.circle{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background-color: white;
    margin-top: -600px;
}



/* Typography */

p{padding: 1rem;}

a{
    color: black;
    text-decoration: none;
    font-size: 16px;
}

nav a{
    margin-right: 1rem;
    font-family: 'bw_modelicabold';
}

nav a:hover{
    color:#D06136;
}

.accent{
    border: 3px solid #D06136;
    padding: 1rem;
    text-align: center;
    font-family: 'bw_modelicabold';
}
.pre
{
    z-index: 4;
}

.blurb-box{
    display: flex;
    width: auto;
}


.blurb-box img:nth-child(1){
    width: 40%;
}

.blurb-box img:nth-child(2){
    width: 60%;
    margin-left: 1rem;
    margin-bottom: 8rem;
}






[data-component="slideshow"] .slide {
	display: none;
  text-align: center;
}

[data-component="slideshow"] .slide.active {
	display: block;
    
}

img.mobile-image{
    display: none;
}

.fade-in-image{
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 3s;
    -moz-animation: fadeIn 3s;
    -o-animation: fadeIn 3s;
    -ms-animation: fadeIn 3s;
}
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

  @keyframes fadeOut {
      0% {opacity:1}
      100% {opacity: 0;}
  }

/*! Generated by Font Squirrel (https://www.fontsquirrel.com) on March 12, 2022 */



@font-face {
    font-family: 'bw_modelicabold';
    src: url('./fonts/webfontkit/bwmodelica-bold-webfont.woff2') format('woff2'),
         url('./fonts/webfontkit/bwmodelica-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'bw_modelicamedium';
    src: url('./fonts/webfontkit/bwmodelica-medium-webfont.woff2') format('woff2'),
         url('./fonts/webfontkit/bwmodelica-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}





@font-face {
    font-family: 'bw_modelicaregular';
    src: url('./fonts/webfontkit/bwmodelica-regular-webfont.woff2') format('woff2'),
         url('./fonts/webfontkit/bwmodelica-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'modumbold';
    src: url('./fonts/webfontkit/the_northern_block_ltd_-_modum_bold-webfont.woff2') format('woff2'),
         url('./fonts/webfontkit/the_northern_block_ltd_-_modum_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'modumlight';
    src: url('./fonts/webfontkit/the_northern_block_ltd_-_modum_light-webfont.woff2') format('woff2'),
         url('./fonts/webfontkit/the_northern_block_ltd_-_modum_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'modummedium';
    src: url('./fonts/webfontkit/the_northern_block_ltd_-_modum_medium-webfont.woff2') format('woff2'),
         url('./fonts/webfontkit/the_northern_block_ltd_-_modum_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

button, input[type="submit" i]{
    background-color: #EEE5DE;
    color: #EEE5DE;
    border: none;
    padding: 1rem;
    width: 200px;
    font-family: 'modumbold';
    display: grid;
    place-items: center;
    margin-top: 1rem;
}


/*Section */
section#top{
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: -80px;
    background-color: #D06136;
    padding-left: 1rem;
    
}

section#top img{
    margin: 0;
    width: 100%;
    height: 100%;
}

section#top p{
    font-family: 'bw_modelicabold';
    font-size: 30px;
    line-height: 42px;
    width: 100%;
    
}

section#top .right{
    display: flex;
    align-content: center;
    color: white;
    margin-right: 2rem;
    margin-left: 2rem;
    width: 79%;
    align-items: center;
    
}

section#top button{
    margin: 1rem;
    
}

section#button a{
    font-family: 'modumbold';
}


p.small{
    font-size: 16px !important;
    line-height: 1.7rem !important;
    font-family: 'bw_modelicaregular' !important;
}

section#explore{
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: end;
    margin: 4rem;
}

section#explore img{
    width: 100%;
    height: auto;
}

section#explore h1{
    align-self: end;
    color: black;
    font-family: 'bw_modelicaregular';
    margin: 6rem;
    line-height: 39px;
    width: 69%;
    
}

section#explore .accent{
    border: none;
    color: #D06136;
    padding: 0;
}

section#explore .left{
    display: grid;
    height: inherit;
    justify-items: center;
    align-content: center;
}

section#explore .left img{
    width: 70%; 
    margin: auto;
    object-fit: cover;
    height: 360px;

}

section#explore .right{
    margin: 3rem;
}

section#about{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 2rem;
    font-family: 'bw_modelicaregular';
    background: #EEE5DE;
}

#explore .left p.small{
    width: 75.5%;
    margin-bottom: 3rem;
    margin-top: 0rem;
    text-align: left;
}

section#about h1, section#submit h2{
    color:black;
    font-family: 'bw_modelicabold';
    font-size: 2rem;
    opacity: 0.8;
}

section#submit h3{
    font-family: 'modummedium';
}

section#submit p{
    font-family: 'bw_modelicaregular';
}


section#about h1{
    margin-right: 4rem;
}

section#about .left{
    display: flex;
    height: 100vh;
    align-items: end;
    flex-direction: column;
    padding-top: 4rem;
}

.heading-container h2{
    font-family: 'modummedium';
    margin-bottom: 1rem;
}

section#about .right{
    display: grid;
    margin: 1rem;
}

section#about .about{
    display: flex;
    width:67%;
    margin: 4rem;
    margin-top: 2rem;
    flex-direction: column;
    text-align: end;
}

section#about .about div:nth-child(1), section#about .about div:nth-child(2){
    margin-bottom: 1.5rem;
}

section#magazine {
    display: grid;
    justify-items: center;
    align-items: center;
}

section#submit{
    display: flex;
    place-items: center;
    background-color: #F5986C;
    padding: 7rem;
    
}

section#submit .submit-thing{
    display: flex;
    background-color: #EEE5DE;
    width: 92%;
    margin: auto;
}

section#submit .submit-thing .left{
    display: flex;
    flex-direction: column;
}

section#submit .left {
    background-color: #EEE5DE;
    display: flex;
    padding: 4rem;
    padding-right: 0;
}

section#submit .right{
    margin: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


section#submit .right p{
padding: 0;
padding-top: 1.5rem;
padding-bottom: 2rem;
}

section#submit .right p:nth-child(3){
    padding-bottom: 1rem;
}

.contact-info{
    margin-top: 2rem;

}

section#hide{
    background-color: #EEE5DE;
    height: 40px;
    margin-top: -5.5rem;
    z-index: 100;
    margin-right: 2rem;
}

.feature .left img{
    width: 100%;
    height: auto;
    
}

.feature .right{
    background-color: #EEE5DE;
    display: grid;
    align-content: center;
}

label {
    font-size: 13px;
    font-family: 'modum';
}

input {
    border: none;
    margin-right: 0.5rem;
    padding: 1rem;
    border-radius: 0.5rem;
}

.feature .left p{
   font-family: 'bw_modelicaregular';
   padding: 1rem 0rem 1rem 0rem;
   font-size: 13px;
   line-height: 1.4rem;

}

.feature .left h2{
   font-family: 'bw_modelicabold';
margin-bottom: 1rem;
text-align: justify;
color: black;
align-self: start;
justify-self: start;
font-size: 3rem;

}

footer{
    background-color: black;
    width: auto;
    display: flex;
    justify-content: space-between;
    font-family: 'bw_modelicaregular';
    font-size: 12px;
    color: #EEE5DE;
    align-items: center;

}

 footer p{
   margin: 1rem;
}



section#about .about p{
    padding: 0;
}


.full-height{
    height: 100vh;
}

form p {
    font-family: 'bw_modelicaregular';
    padding: 0;
    font-size: 14px;
    padding-bottom: 1rem;
    line-height: 26px;
}

.submit-container {
    display: grid;
}


section#submit h1{
    display: none;
}


section#social{
    background-color: #EEE5DE;
    padding: 4rem;
    padding-left: 0;
    padding-right: 0;
}

section#social h2{
    text-align: center;
    color: black;
    font-family: 'bw_modelicabold';
    font-size: 2rem;
    opacity: 0.8;
    padding-bottom: 1rem;
}

a.css-6kluu6{
    display: none !important;
}

/* Style inputs, select elements and textareas */
input[type=text],input[type=email], input[type=url], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }
  
  /* Style the label to display next to the inputs */
  label {
    padding: 3px 3px 3px 0;
    display: inline-block;
    font-family: 'bw_modelicabold';
  }
  
  /* Style the submit button */
  input[type=submit] {
    background-color: black;
    color: white;
    padding: 12px 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
  }
  input[placeholder]{
      color: rgba(0, 0, 0, 0.448);
  }
  input[placeholder], textarea{
    font-family: 'bw_modelicaregular';
    font-size: 12px;
  }
  
  /* Style the container */
  .container {
    border-radius: 5px;
    background-color: #EEE5DE;
    padding: 20px;
  }
  


  /* Floating column for labels: 25% width */
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  /* Floating column for inputs: 75% width */
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  @media only screen and (min-width: 769px){

.mobile-caption{
    display: none;
}

  }

  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 1rem;
    }

  }

@media only screen and (max-width: 1273px){
    header{
        margin: 0rem;
    }
    
    header img{
        width: 346px;
    }

}

@media only screen and (max-width: 768px){
    header{
        margin: 0rem;
        position: relative;
    }
    
    header img{
        width: 250px;
    }

 
}

@media only screen and (max-width: 768px) {

    section#top p {
       
        margin: auto;
        
        border: none;
    }

    .blurb-box img:nth-child(1){
        width: auto;
    }

    .loader {
        width: 350px;
        
        position: absolute;
        background-image: url('./images/black-logo.png');			/*Here you can change color of the loader*/
        background-size: contain;
        background-repeat: no-repeat;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
    
    
    }

    .submissions-container{
        flex-direction: column;
    }

    nav{
        display: flex;
    }

    nav a#home{
        display: none;
    }

    .mobile-caption{
       margin-bottom: 2rem;
    }

    .scrolling-text .scrolling-text-content{
        font-size: 50px;
    }

    section#explore{
        background-color: white;
        margin: 2rem;
    }

    section#explore .left{
        margin: 0%;
        height: auto;
        background-color: #EEE5DE;
    }

    p.small{
            font-size: 14px !important;
    }
    figcaption{
        position: relative;
        background-color: rgb(31, 30, 30);
        color: white;
        padding: 1rem;
        font-family: 'modumlight';
        text-align: center;
        font-size: 14px;
    }

    nav a{
        font-size: 15px;
    }

    header{
        gap: 1rem;
        position: sticky;
        margin: 0;
        padding: 1rem;
        max-width: inherit;
        background-color: #EEE5DE;
        display: flex;
        border-bottom: 1px solid rgba(0, 0, 0, 0.11);
        z-index: 4;
    }


    section#top, section#explore, section#about{
     
        height: auto;
        overflow-x: hidden;
    }


    .accent {
        border: none;
        border-bottom: 3px solid #D06136;
        padding: 0;
    }

    nav a{
        margin: 1rem;
        padding: 0;
    }

    .logo{
        margin: auto;
        margin-left: 1rem;
        
    }

    section#top{
        flex-direction: column;
        padding: 0;
        padding-top: 7rem;
        display: flex;
        flex-direction: column;
        justify-content: center;   
        color: white;
    }

    section#top img {
        margin: 0;
        max-width: 100%;
        height: auto;
  

    }
    section#top .right{
        width: auto;
        margin: 0;
        padding: 2rem !important;
        padding-left: 0;
        padding-right: 0;
        justify-items: start;
        place-items: start !important;
    }

    section#top .right p.caption{
      display: none;
    }

    section#hide{
        margin-top: -3.5rem;
        background-color: #EEE5DE;
    }

    section#top p{

        font-size: 31px;
        line-height: 47px;
        width: 69%;
        text-align: center;
        color: white;
        margin: auto;
      
    }

    section#top button{
        margin: auto;
        width: auto;
        background-color: #EEE5DE;
       
    }

    section#blurb p {
        text-align: center;
        font-family: 'modumbold';
        width: 100%;
        margin: auto;
        font-size: 1.2rem;
        padding: 4rem;
        margin:0;
    }

    .blurb-box{
        height: 100%;
        flex-direction: column;
    }

    section#blurb .blurb-box {
        height: auto;
    }

    .blurb-box img:nth-child(1) {
        width: 100%;
    }

    .blurb-box img:nth-child(2) {
        width: 100%; 
        margin: 0;
        margin-top: 1rem;
    }

    section#top button a{
        color: black;
    }
      
  .scrolling-text1 .scrolling-text-content1 {
    font-size: 50px;    
  }

    section#explore{
    grid-template-columns: none;
    margin: 2rem;
    }

    section#explore .right{
        margin: 0;
    }

    section#explore .left{
        grid-template-rows: 1fr auto;
    }

    section#explore h1{
        color: #EEE5DE;
        margin-bottom: 10rem;
    }

    section#explore img{
        height: 40vh;
    }

    #explore .left p.small{
        text-align: center;
        border: solid 2px white;
        margin: 2rem;
        width: 99.5%;
    }

    section#about{
        grid-template-columns: none;
        margin: 2rem;
    }

    section#about h1{
        font-size: 2rem;
        margin: auto;
        
    }

    section#about .right{
        display: none;
    }

    section#about .left{
        margin: 0rem;
        justify-items: center;
        height: auto;
        background-color: #EEE5DE;
        padding: 0rem;

    }

    section#about .about{
        text-align: center;
        font-size: .85rem;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: none;
        min-width: 60%;
        margin: auto;
        margin-top: 3rem;
        
    }

    section#submit h1{
        font-size: 6rem;
        text-align: right;
        justify-self: right;
        margin-top: -327px;
        display: block;
    }

    section#submit{
        display: flex;
        flex-direction: row;
        margin: auto;
        flex-wrap: wrap;
        width: fit-content;
        text-align: center;
    }

    section#submit .submit-thing{
        width: 100%;
        margin: 1rem;
    }

    section#submit .right{
            text-align: center;

    }

    form p{
        text-align: center;
        margin: 1rem;
    }

    section#ig{
        margin-top: 20rem;
    }

    footer{
        display: grid;
        justify-items: center;
        align-items: center;
        justify-content: center;
        align-content: center;
        margin: 0;
    }

    footer p{
        margin: 0;
    }

    footer .links{
        margin: 0;
        margin: auto;
    }

    section#magazine{
        width: min-content;
        z-index: 0;
        margin: auto;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    section#magazine img{
        z-index: 0;
        max-width: 414px;
        width: auto;
        height: auto;
    }

    section#social{
        margin: 0;
        padding: 1rem;
        margin-top: 3rem;

    }

    img.mobile-image{
        display: block;
    }

    section#scrolling{
    margin-bottom: 6rem;

    }


.circle{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background-color: white;
    margin-top: -395px;
}
section#submit .submit-thing .left {
    display: none;
}

    section#submit .left {
        background-color: #EEE5DE;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
         padding: 0rem;
        width: auto;
        max-width: 390px;
        flex-direction: column;
    }

    section#submit{
        display: flex;
        place-items: center;
        background-color: #F5986C;
        padding: 0rem;
        
    }

    .talk p{
        width: fit-content;
    }

    form{
        max-width: max-content;
        margin-top: 2rem;
    }

    span.formrow{
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
    }
    textarea{
        max-width: inherit ;
    }

    .submit-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 3rem;
    padding-top: 6rem;
    }

    form{
        max-width: max-content;
    }
    textarea{
        max-width: inherit ;
    }

    .feature .left h2{
        color: black;
        text-align: center;
        align-self: center;
        font-size: 2rem;

    }
    
    section#explore .left img{
        width: 100%;
        height: 360px;
        margin: 0;
    }
  

}

@media only screen and (max-width: 767px){

    section#top{
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
    }

  




    section#top .right{
        text-align: center;
        place-items: center;
        margin: 0;
        padding: 1rem;
    }
}

hr{
    transform: rotate(90deg);
}

@media screen and (max-width: 1024px) {
    section#top p{
        font-size: 22px;
        line-height: 31px;
    }
    p.small {
        font-size: 16px !important;
        line-height: 1.7rem !important;
        font-family: 'bw_modelicaregular' !important;
    }

    section#submit .right p{
        font-size: 1rem !important;
    }

}

@media only screen and (min-width: 1024px){
 
    section#about .right{
        display: flex;
    }

    section#submit{
        padding: 2rem;
    }

    section#about{
        padding-top: 8rem;
    }

    section#blurb p {
        width: 80%;
    }

    .blurb-box img:nth-child(2) {
        width: 58%;
        margin-left: 1rem;
        margin-bottom: 8rem;
    }

    section#about .left{

        padding-top: 1rem;
        height: auto;

    }

    section#submit .submit-thing .left{
        justify-content: space-evenly;
    }

    section#about .about p{
        font-size: .8rem;
    }

    p.small{
        font-size: .8rem;
        line-height: 1.2rem;
    }
}

@media only screen and (max-width: 500px){

    section#top p{
        font-size: 26px;
        line-height: 43px;
        width: auto;
        text-align: center;
        color: white;
    }

    section#magazine{
        width: min-content;
    }

    section#magazine img{
        
        max-width: 382px;
        height: auto;
    }

    section#social{
        margin: 0;
    }

    section#submit .left {
        background-color: #EEE5DE;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
         padding: 0rem;
        width: auto;
        max-width: 390px;
        flex-direction: column;
    }

    .talk p{
        width: fit-content;
    }



    .submit-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 3rem;
    }
}